<h1>Edit Movie</h1>

<%= form_with model: [:admin, @movie], local: true do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :year %><br>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :image_url %><br>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <%= form.label :is_showing %><br>
    <%= form.check_box :is_showing %>
  </div>

  <div>
    <%= form.submit "Update Movie" %>
  </div>
<% end %>
