<h1>新規映画登録</h1>

<%= form_with model: [:admin, @movie], local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :year %><br>
    <%= form.number_field :year %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :image_url %><br>
    <%= form.text_field :image_url %>
  </p>
  <p>
    <%= form.label :is_showing %><br>
    <%= form.check_box :is_showing %>
  </p>
  <%= form.submit %>
<% end %>
